<div class="list-of-pins">
  <h2 *ngIf="pins?.length" class="title">List of pins</h2>
  <table *ngIf="pins?.length" class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Pin</th>
        <th>Image</th>
        <th>Collaboratory</th>
        <th>Privacy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pin of pins; let i = index;">
        <td>{{i+1}}</td>
        <td>{{pin.title}}</td>
        <td>
          <img class="pin-image" src="{{pin.file}}" alt="Pin 1">
        </td>
        <td>
          <ul class="customers" *ngIf="pin?.collaboratory">
            <li class="customer" *ngFor="let customer of pin?.collaboratory">{{customer}}</li>
          </ul>          
        </td>
        <td>{{pin.privacy}}</td>        
      </tr>
    </tbody>
  </table>
  <div class="add-section">
    <button class="add-button" (click)="modalService.open('add-customer')">+ Add Customer</button>
    <button class="add-button" [disabled]="checkCustomers() === 0" (click)="modalService.open('add-pin')">+ Add
      Pin</button>
  </div>
</div>
<div>
  <modal id="add-customer">
    <div class="modal-header">
      <h5 class="modal-title">Create Customer</h5>
      <button type="button" class="btn-close" (click)="modalService.close();"></button>
    </div>
    <div *ngIf="region?.length" class="modal-body">
      <app-customer [country]="country" [region]="region" (customerAdded)="addedCallback($event)"></app-customer>
    </div>
  </modal>

  <modal id="add-pin">
    <div class="modal-header">
      <h5 class="modal-title">Create Pin</h5> &nbsp; <h6 *ngIf="!customers?.length">  (Add Customers First !!!)</h6>
      <button type="button" class="btn-close" (click)="modalService.close();"></button>
    </div>
    <div *ngIf="customers?.length" class="modal-body">
      <app-pin [collaboratory]="customers" (pinAdded)="addedCallback($event)"></app-pin>
    </div>
  </modal>
</div>